@import "style.css";

/* 联系我们 */
.myContainer2 input{
    width:94%;
    height: 76rpx;
    text-indent: 10rpx;
    background: #eee;
    border:1px solid #dedede;
    padding:0 3% ;
}
.myContainer2 h1{
    margin-top: 30rpx;
    margin-bottom: 20rpx;
}
.myContainer2 textarea{
    width: 90%;
    padding:20rpx 3% ;
    background: #eee;
    border:1px solid #dedede;
}
.myContainer2 .submitBut{
    width: 100%;
    height: 66rpx;
    font-size: 30rpx;
    text-align: center;
    line-height: 66rpx;
    color:#fff;
    background: #d11208;
    margin-top: 30rpx;
}
.myContainer2 p{
    font-size: 30rpx;
    margin-top: 35rpx;
}
