@import "style.css";

.install-list{ margin-top: 10rpx; background: #fff;}
.install-list li{
  font-size: 38rpx;
  padding: 30rpx 5%;
  border-bottom:1px solid #eee9e9;
}
.change{
  position: relative;
}
.install-list .change>div{
  position:absolute;
  top:33rpx;
  right:5%;
  width: 100rpx;
  height: 38rpx;
  background: #d11208;
  border-radius: 8rpx;
}
.change>div>span{
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 38rpx;
  background: #fff;
  border: 1rpx solid #d11208;
  border-radius: 8rpx;
  box-sizing: border-box;
}
.change .open{
  margin-left: 40%;
}
.bggray{
  background-color: #ccc !important;
}
/*-------------------------------*/
.mine-head{
  height: 200rpx;
  background: #fff;
  border-bottom: 15px solid #e6e6e6;
}
.mine-head-img{
  margin:20rpx;
  width: 135rpx;
  height: 135rpx;
  border-radius: 50% 50%;
  float: left;
  overflow: hidden;
}
.mine-head-box{
  padding-left: 15rpx;
  float: left;
}
.mine-head-box h1{
  display: block;
  margin-top: 30rpx;
}
.mine-head-box span{
  display: inline-block;
  margin-top: 20rpx;
  width: 140rpx;
  height: 54rpx;
  color: #b9b5cd;
  text-align: center;
  line-height: 54rpx;
  font-size: 30rpx;
  border-radius: 8rpx;
  border: 1rpx solid #b9b5cd;
}
.install-list img{
  display: inline-block;
  margin-right: 50rpx;
  vertical-align: middle;
}
